<ul class="ThemeSwitcher">
  <li class="ThemeSwitcher-listElement">
    <button
      class="ThemeSwitcher-item
             u-bgPurple u-textWhite
             js-theme-switcher"
      data-bg-color="var(--color-purple)"
      data-color="var(--color-white)"
    >
    </button>
  </li>
  </li>
  <li class="ThemeSwitcher-listElement">
    <button
      class="ThemeSwitcher-item
              u-bgBlue u-textBlack
              js-theme-switcher"
      data-bg-color="var(--color-blue)"
      data-color="var(--color-black)"
    >
    </button>
  </li>
  <li class="ThemeSwitcher-listElement">
    <button
      class="ThemeSwitcher-item
              u-bgMint
              js-theme-switcher"
      data-bg-color="var(--color-mint)"
      data-color="var(--color-black)"
    >
    </button>
  </li>
  <li class="ThemeSwitcher-listElement">
    <button
      class="ThemeSwitcher-item
      u-bgGreen u-textWhite
      js-theme-switcher"
      data-bg-color="var(--color-green)"
      data-color="var(--color-white)"
    >
    </button>
  </li>
<ul>
