{#
  @todo
  1. consider `ThemeSwitcher-action` instead of `ThemeSwitcher-action-item`
  2. make css class name and js- class name consistent
  3. add visually hidden class
 #}

<ul class="ThemeSwitcher">

  <li class="ThemeSwitcher-listElement">
    <button
      class="ThemeSwitcher-item
             u-bgBlack u-textWhite
             js-theme-switcher"
      data-accent-color="var(--color-pink)"
      data-bg-color="var(--color-black-alt)"
      data-color="var(--color-silver)"
      data-favicon="/static/img/favicon-pink.png"
      data-link-color="var(--color-white)"
    >
    <span class="u-hidden">Black</span>
    </button>
  </li>

  <li class="ThemeSwitcher-listElement">
    <button
      class="ThemeSwitcher-item
      u-bgWhite u-textBlack
      js-theme-switcher"
      data-accent-color="var(--color-purple)"
      data-bg-color="var(--color-cool-blue)"
      data-color="var(--color-gray-666)"
      data-favicon="/static/img/favicon-purple.png"
      data-link-color="var(--color-black)"
    >

      <span class="u-hidden">White</span>
    </button>
  </li>
<ul>
