<div class="Grid Grid--homeHero">

  <div
    class="HomeIntro
            u-flex u-flexAlignItemsCenter u-flexJustifyCenter"
  >
    <div class="HomeIntro-inner">
      <h1 class="u-lg-textSize6">
        👋️ Hi. I'm {{ title }},
      </h1>
      <span
        class="Callout
                u-textSize2 u-md-textSize3 u-lg-textSize5">
        {{ layoutContent | safe }}
      </span>
    </div>
  </div>

  <div class="u-padRight6 u-lg-padTop06 u-hidden u-md-block">
    {% include "svg/home-illustration-06.svg" %}
  </div>

</div>
