<div class="Grid Grid--homeHero">

  <div
    class="u-spaceTop u-md-spaceTopNone
           u-flex u-flexAlignItemsCenter u-flexJustifyCenter"
  >
    <div class="Banner Banner--simple">
      <h1 class="Banner-label">👋 Hello,</h1>
      <h2 class="Banner-title">
        I’m a design leader with a passion for collaboration, craft, process, and people.
      </h2>
      <div class="Banner-subtitle u-spaceTop">
        {{ layoutContent | safe }}
      </div>
    </div>
  </div>

  {# This div used to be my Whale illustration #}
  <div 
    class="u-flex u-flexAlignItemsCenter
           u-spaceTop6 u-md-spaceTop4 u-lg-spaceTopNone"
  >
    {% include "svg/hero-photo-test.svg" %}
  </div>

</div>

<div class="Container u-textCenter u-padSidesNone">
  {% include "svg/illustration-wavy-line.svg" %}
</div>
