<div class="Container Grid Grid--homeHero">

  <div
    class="HomeIntro
           u-spaceTop u-md-spaceTopNone
           u-flex u-flexAlignItemsCenter u-flexJustifyCenter"
  >
    <div class="HomeIntro-innerZZZ">
      <h1 class="u-textSize5">
        👋️ Hi. I'm {{ title }},
      </h1>
      <span
        class="Callout
               u-textSize1 u-md-textSize3">
        {{ layoutContent | safe }}
      </span>
    </div>
  </div>

  <div class="u-pad6 u-padBottomNone u-lg-padNone">
    {% include "svg/home-illustration-whale.svg" %}
  </div>

</div>

<div class="Container u-textCenter u-padSidesNone">
  {% include "svg/wavy-line.svg" %}
</div>
