<ul 
  class="FooterCard-contact
         u-textSize1 u-spaceEnds"
>
  {% for item in social.sites %}
    <li>
      <a href="{{ item.url }}">
        {{ item.name | capitalize }}
      </a>
    </li>
  {% endfor %}
</ul>
