<h3
  class="u-extendFull
         u-textSize3 u-lg-textSize6
         u-padSides6 u-lg-spaceTop6 u-padBottom"
>
  Some things I've made
</h3>

<div
  class="Grid
         u-lg-spaceBottom6 u-padBottom6"
>

  <div class="HomeProjects u-bgFancy {{ customClass }}">
    <div class="Grid Grid--4Colz Grid--split">
      <a class="ImageFrame" href="">
        <img src="/static/img/ghost-of-work-past.jpg" alt="">
        <h4>A Project Name</h4>
        <p class="u-textBlack">Descriptive text about this project</p>
      </a>
      <a class="ImageFrame" href="">
        <img src="/static/img/nike-air-max-pen.jpg" alt="">
        <h4>A Project Name</h4>
        <p class="u-textBlack">Descriptive text about this project</p>
      </a>
    </div>
  </div>

</div>
