<ul class="u-textSize1 u-spaceItems04 u-spaceEnds6">
  <div class="FooterCard-contact Grid Grid--contact">
    {% for item in social.sites %}
    <div>
      <a class="u-textSize5" href="{{ item.url }}">
        {{ item.name | capitalize }}
      </a>
    </div>
    {% endfor %}
  </div>
</ul>
