:root {
  --color-black: #232323;
  --color-blue: #4eb4d9;
  --color-purple: #9e80d1;
  --color-mint: #3ac7a7;
  --color-turkey: #fff0eb;
  --color-white: white;

  --primary-background-color: var(--color-white);
  --primary-text-color: var(--color-black);

  --primary-theme-background-color: var(--color-purple);
  --primary-theme-text-color: var(--color-white);

  --font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.ContentMain {
  max-width: 37.5em;
}

p,
pre,
code {
  line-height: 1.5;
}

a[href] {
  color: var(--primary-theme-background-color);
}

a[href]:not(:hover) {
  text-decoration: none;
}

main,
footer {
  padding: 1em;
}

main {
  padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre {
  direction: ltr;
  font-size: 14px;
  hyphens: none;
  margin: 0.5em 0;
  padding: 1em;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -moz-tab-size: 2;
}

ul {
  padding: 0;
  list-style: none;
}

@media screen and (min-width:768px) {
  :root {
    font-size: 1.1rem;
  }
}
