:root {
  --footer-height: 70px;
}


.FooterMeta {
  align-items: center;
  display: flex;
  height: var(--footer-height);
}

@media (--md-viewport) {
  .Grid--footer {
    grid-template-columns: 1fr 1fr;
  }
}
