:root {
  --footer-height: 195px;
}

.FooterCard {
  border-top: 1px solid #dceaea;
}

.FooterCard-contact {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1em;
}

.FooterMeta {

}

@media (--md-viewport) {
  .Grid--footer {
    grid-template-columns: 1fr 1fr;
  }
}
