.Footer {
  border-top: var(--border-width-sm) solid var(--theme-color-accent-secondary);
}

.Footer-socialList {
  display: inline-flex;
  flex-wrap: wrap;
}

.Footer-socialLinks {
  margin-right: 1em;
  margin-bottom: 0.5em;
  &:last-of-type {
    margin-right: 0;
  }
}
