/* Custom Header */

:root {
  --header-background-color: var(--primary-theme-background-color);
  --header-height: 80px;
  --header-box-shadow: 0 1px 1px;
  --header-box-shadow-color: rgba(150, 150, 150 ,0.2);
  --header-logo-color: var(--primary-theme-link-color);
}

.Header {
  align-items: center;
  background-color: var(--header-background-color);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  z-index: 10;
}

.Header-linkLogo {
  display: flex;
}

.Header-logo {
  color: var(--header-logo-color);
  max-width: 48px;
}

.Header-logoPath {
  fill: currentColor;
}

.Header-link,
.Header-link[href] {
  color: var(--primary-theme-text-color);
  font-family: 'Barlow';
  font-variation-settings: "wght" 150, "wdth" 500;
}

/* Header Logo (style as h2) */

header > em {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-style: normal;
  font-weight: bold;
}

/* Header Nav */

header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 0.5em;
}

header nav li a[href]:not(:hover) {
  color: var(--header-logo-color);
  text-decoration: none;
}

.Header-link[data-current="current item"] {
  color: var(--primary-theme-accent-alt-color) !important;
}

header nav li a[data-current="current item"] {
  font-weight: 700;
  text-decoration: underline;
}
