/**
 * Fonts
 */

 :root {
  --font-family: 'Inter';
  --font-family-variable: 'Inter var';
}


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/inter/Inter-Regular.woff2?v=3.13") format("woff2"),
       url("/static/fonts/inter/Inter-Regular.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/static/fonts/inter/Inter-roman.var.woff2?v=3.13") format("woff2");
}

body {
  color: var(--theme-color-text);
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.033em;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif;
    font-variation-settings: "wght" 450;
  }
}