/**
 * @define Bookshelf
 */

.Bookshelf-content {
  display: grid;
  flex-direction: row;
  grid-gap: 1.5em;
  grid-template-columns: 1fr;
  line-height: 1.2;
  margin-bottom: calc(1em + 2vw);
}

@media (--md-viewport) {
  .Bookshelf-content {
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  }
}

@media (--lg-viewport) {
  .Bookshelf-content {
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  }
}

.Bookshelf-item {
  background-color: transparent;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  padding-bottom: 0;

  @media (--md-viewport) {
    display: block;
  }
}

@media (--lg-viewport) {
  .Bookshelf-item:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}

.Bookshelf-cover {
  background-color: tomato;
  background-color: var(--color-silver);
  display: block;
  height: 100%;
  width: 100%;
}

.Bookshelf-art {
  display: block;
}

.Bookshelf-meta {
  padding: 0.335rem 0.75rem 0.75rem 0.75rem;
  color: var(--theme-color-text);
}

@media (--md-viewport) {
  .Bookshelf-meta {
    padding: 0.335rem 0.75rem 0.75rem 0;
  }
}

@media (--lg-viewport) {
  .Bookshelf-item:first-of-type .Bookshelf-itemTitle {
    font-size: 200% !important;
  }
}
