.ContentHome-inner {
  margin: 0 auto;
  max-width: 1860px;
}

.Grid--homeHero {
  justify-content: space-between;
}

@media (--lg-viewport) {
  .Grid--homeHero {
    grid-template-columns: 50% 45%;
    min-height: 56vh;
    max-width: 95vw;
    
  }
}

.home-illustration {
  width: 100%;
}

@media (--lg-viewport) {
  .Grid--homeShowcase {
    grid-gap: 5%;
    grid-template-columns: 1.5fr 2fr;
  }
}

@media (--lg-viewport) {
  .Grid--4Col {
    grid-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
  }
}
