.Banner-projects {
  background-color: var(--theme-color-accent-secondary);
  padding: 1rem;
}

@media (--md-viewport) {
  .Banner-projects {
    padding: 2rem;
  }
}

@media (--lg-viewport) {
  .Banner-projects {
    margin-left: 8vw;
  }
}

@media (--lg-viewport) {
  .Banner-projects .Banner {
    transform: translateX(-8vw);
  }
}

@media (--lg-viewport) {
  .Banner-writing .Banner {
    transform: translateX(-6vw);
  }
}

.Banner-writing {
  padding: 2rem;
}

@media (--lg-viewport) {
  .Banner-writing {
    margin-left: 6vw;
  }
}
