.Container {
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* max-width: 1420px; */
  /* overflow: hidden; */

  max-width: 3000px;
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
}

.ContentMain {
  max-width: 37.5em;
}

.ContainerProse {
  margin: 0 auto;
  max-width: 40em;
}

.ContainerProse--extra {
  max-width: 60em;
}

.ContentProse p {
  margin-top: 0.5rem;
}

.SectionIntro {
  border-bottom: 1px solid var(--primary-theme-background-color);
  border-bottom: 1px solid var(--primary-theme-heading-color);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.Grid--smallThenBig {
  grid-gap: 10%;
}

@media (--lg-viewport) {
  .Grid--smallThenBig {
    grid-gap: 10%;
    grid-template-columns: 30% 60%;
  }
}

.Grid--contact {
  grid-gap: 2vw;
  grid-template-columns: repeat(2, 1fr);
}

@media (--lg-viewport) {
  .Grid--contact {
    grid-template-columns: repeat(5, 1fr);
  }
}
