.Container {
  max-width: 2800px;
  margin: 0 auto;
  padding: 0 1.25rem;
  width: 100%;
}

.ContainerProse {
  margin: 0 auto;
  max-width: 50rem;
}

.ContainerProse--extra {
  max-width: 60rem;
}

.ContentProse p {
  margin-top: 0.5rem;
}

.SectionIntro {
  border-bottom: 1px solid var(--theme-color-background);
  border-bottom: 1px solid var(--theme-color-accent-primary);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.Grid--smallThenBig {
  grid-gap: 10%;
}

@media (--lg-viewport) {
  .Grid--smallThenBig {
    grid-gap: 10%;
    grid-template-columns: 35% 55%;
  }
}

@media (--md-viewport) {
  .Grid--contact {
    grid-gap: 2vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (--lg-viewport) {
  .Grid--contact {
    grid-template-columns: repeat(5, 1fr);
  }
}
