/**
 * TODO
 1. Convert these to actual utility assets
 */

.u-releaseFull {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.u-releaseWide {
  margin-left: calc(-6vw + 6%);
  margin-right: calc(-6vw + 6%);
}

.icon {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0; /* 1 */
  flex: none; /* 1 */
  height: 1em;
  max-width: none; /* 2 */
  width: 1em;
  position: relative;
  top: 2px;
}