*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * Force body to always meet viewport height
 */

html {
  height: 100%;
}

body {
  background-color: var(--color-dark-purple) !important;
  color: var(--color-white);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

/**
 * Prevent media from overflowing its container horizontally
 */

img,
svg,
iframe,
input {
  max-width: 100%;
}

/**
 * Prevent some media from detaching width from height in supported browsers
 */

img,
svg {
  height: auto;
}

html,
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  display: grid;
  font-size: 1.1rem;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

p,
pre,
code {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.25rem;
  margin-top: 0.45rem;
}

p {
  margin: 0;
}

a[href] {
  color: var(--primary-theme-background-color);
}

a[href]:not(:hover) {
  text-decoration: none;
}

main,
footer {
  padding: 1em;
}

main {
  padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

figure {
  margin: 0;
}

pre {
  direction: ltr;
  font-size: 14px;
  hyphens: none;
  margin: 0.5em 0;
  padding: 1em;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

ul {
  list-style: none;
  padding: 0;
}
