@import "suitcss-base";

/**
 * Force body to always meet viewport height
 */

html, 
body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--theme-color-background);
  display: flex;
  flex-direction: column;
}

/**
 * This is an important aspect of this site's sticky footer
 * implementation. 
 * See: https://css-tricks.com/couple-takes-sticky-footer/#there-is-flexbox
 */

.content {
  flex: 1 0 auto;
}

/**
 * TODO
 * 1. padding properties are probably best added to a container  
 */

footer {
  flex-shrink: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

/**
 * Prevent media from overflowing its container horizontally
 */

img,
svg,
iframe,
input {
  max-width: 100%;
}

/**
 * Prevent some media from detaching width from height in supported browsers
 */

img,
svg {
  height: auto;
}

/**
 * Tables
 */

/**
 * 1. Prevent double borders
 * 2. Without this, th elements won't inherit their alignment predictably in
 *    Safari. Setting alignment here makes it easier to override on the
 *    containing element (if desired).
 */

table {
  border-collapse: collapse; /* 1 */
  text-align: left; /* 2 */
}

/**
 * Make th alignment consistent with td alignment
 */

th {
  text-align: inherit;
}
