@font-face {
  font-family: var(--font-family);
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/inter/Inter-Regular.woff2?v=3.13") format("woff2"),
       url("/static/fonts/inter/Inter-Regular.woff?v=3.13") format("woff");
}

@font-face {
  font-family: var(--font-family-variable);
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/static/fonts/inter/Inter-roman.var.woff2?v=3.13") format("woff2");
}

body {
  color: var(--theme-color-text);
  font-size: 1em;
  font-family: var(--font-family), sans-serif;
  letter-spacing: -0.033em;
  @supports (font-variation-settings: normal) {
    font-family: var(--font-family-variable), sans-serif;
  }
}

p,
pre,
code {
  line-height: 1.5;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

ol, 
ul {
  list-style: inside;
  line-height: 1.6;
}

code,
kbd,
samp {
  background-color: #f1f1f1;
  border-radius: var(--border-width-lg);
  color: #232323;
  color: var(--theme-color-accent-primary);
  font-size: 96%;
  padding: 0.0125rem 0.5rem;
}


:--headings {
  color: var(--theme-color-max-contrast);
  font-variation-settings: "wght" 800;
  margin-bottom: 0.25rem;
}

.Label {
  background-color: var(--theme-color-accent-primary);
  color: white;
  display: inline-block;
  font-size: 0.75em;
  font-variation-settings: "wght" 750;
  letter-spacing: 0.0125em;
  margin-top: .75em;
  padding: 0.25em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

/* @TODO organize me please */

a[href] {
  color: var(--theme-color-max-contrast);
  text-decoration: underline;
  /* text-decoration-color: var(--theme-color-max-contrast); */
  text-decoration-color: inherit;
}

a[href]:hover {
  color: var(--theme-color-accent-primary);
  text-decoration-color: var(--theme-color-accent-primary);
}

p a[href] {
  color: var(--theme-color-accent-primary);
  text-decoration-color: var(--theme-color-text);

  &:hover {
    color: var(--theme-color-text);
    text-decoration-color: var(--theme-color-accent-primary);
  }
}

.heading {
  box-shadow: inset 0 -0.5em 0 var(--theme-color-accent-primary);
  color: var(--theme-color-accent-primary);
  display: inline-block;
  line-height: 1.2;
  position: relative;
  text-decoration: none;
}

blockquote {
  transform: translateX(-6vw);
}

blockquote p {
  font-size: 2.3rem;
  line-height: 1.3;
  color: var(--theme-color-accent-primary);
  font-weight: 400;
  padding: 1.25rem;
  width: 110%;
}