body {
  color: var(--theme-color-text);
  font-size: 1em;
  font-family: var(--font-family), sans-serif;
  letter-spacing: -0.033em;
  @supports (font-variation-settings: normal) {
    font-family: var(--font-family-variable), sans-serif;
    font-variation-settings: "wght" 450;
  }
}

p,
pre,
code {
  line-height: 1.5;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

ol, 
ul {
  line-height: 1.6;
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 1.4em;
  text-indent: -1.4em;
}

code,
kbd,
samp {
  background-color: #f1f1f1;
  border-radius: var(--border-width-lg);
  color: #232323;
  color: var(--theme-color-accent-primary);
  font-size: 96%;
  padding: 0.0125rem 0.5rem;
}

strong {
  font-variation-settings: "wght" 750;
}

::selection {
  background-color: var(--theme-color-accent-primary);
  color: var(--color-white);
}

a[href] {
  color: var(--theme-color-accent-primary);
  text-decoration-color: var(--theme-color-max-contrast);
  font-variation-settings: "wght" 500;
}

a[href]:hover {
  color: var(--theme-color-max-contrast);
  text-decoration-color: var(--theme-color-accent-primary);
}

:--headings {
  color: var(--theme-color-max-contrast);
  font-weight: bold;
  font-weight: 800;
  font-variation-settings: "wght" 800;
  margin-bottom: 0.25rem;
}

:--headings a[href] {
  color: var(--theme-color-max-contrast);
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration-color: var(--theme-color-accent-primary);
  font-variation-settings: "wght" 750;
}

:--headings a[href]:hover {
  color: var(--theme-color-accent-primary);
  text-decoration-color: var(--theme-color-max-contrast);
  
  svg path {
    fill: var(--theme-color-max-contrast);
  }
}
