blockquote {
  transform: translateX(-6vw);
}

blockquote p {
  font-size: 2.3rem;
  line-height: 1.3;
  color: var(--theme-color-accent-primary);
  font-weight: 400;
  padding: 1.25rem;
  width: 110%;
}