/**
 * @Define utilities
 */

:root {
  --theme-switcher-border-color: var(--theme-color-text);
  --theme-switcher-size: 48px;
}

.ThemeSwitcher {
  display: flex;
}

@media (--md-viewport) {
  .ThemeSwitcher {
    justify-content: flex-start;
  }
}

.ThemeSwitcher-listElement {
  display: inline-block;
  margin-right: calc(1msu * 0.5em);
}

.ThemeSwitcher-item {
  align-items: center;
  border-radius: 50%;
  border: var(--border-width-md) solid var(--theme-color-max-contrast);
  box-shadow: inset 0 0 0 var(--border-width-md) var(--theme-color-background);
  display: flex;
  font-size: 1.5em;
  height: var(--theme-switcher-size);
  justify-content: center;
  margin: 0;
  padding: 0;
  width: var(--theme-switcher-size);

  svg {
    pointer-events: none;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px var(--theme-color-accent-primary);
  }
  &.is-active {
    box-shadow: 0 0 0 3px var(--theme-color-accent-primary);
  }
}
