/**
 * @Define utilities
 */

:root {
  --theme-switcher-border-color: var(--primary-theme-text-color);
  --theme-switcher-size: 40px;
}

.ThemeSwitcher {
  display: flex;
}

@media (--md-viewport) {
  .ThemeSwitcher {
    justify-content: flex-end;
  }
}

.ThemeSwitcher-listElement {
  display: inline-block;
  margin-right: calc(1msu * 0.5em);
}

/*
 * @TODO
 * 1. change 2px to variable
 * 2. add box-shadow
 */

.ThemeSwitcher-item {
  border: 2px solid var(--primary-theme-accent-alt-color);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--primary-theme-background-color);
  height: var(--theme-switcher-size);
  width: var(--theme-switcher-size);
}
