<section class="Bookshelf-content u-spaceTop">
  {% for book in bookslist | reverse %}
    <article class="Bookshelf-item">

      {% if book.data.url %}
      <a href="{{ book.data.url }}">
      {% endif %}
        <figure class="Bookshelf-cover">
          <img
            src="{{ book.data.cover }}"
            alt=""
            class="Bookshelf-art"
          >
        </figure>
      {% if book.data.url %}
      </a>
      {% endif %}

      <div class="Bookshelf-meta u-padTop06">
        <h4 class="u-textShrink1 u-md-textGrow1">
          {% if book.data.title %}
            {{ book.data.title }}
          {% else %}
            Untitled
          {% endif %}
        </h4>

        {% if book.data.author %}
          <p class="u-textShrink2 u-md-textShrink1">
            {{ book.data.author }}
          </p>
        {% endif %}

        {% if book.data.summary %}
          <p>
            {{ book.data.summary }}
          </p>
        {% endif %}

        {# {% if book.data.tags %}
          <p>
            {% for tag in book.data.tags %}
              {%- if tag != "book" -%}
                <small class="u-textGray">
                  #{{ tag }}
                </small>
              {%- endif -%}
            {% endfor %}
          </p>
        {% endif %} #}
      </div>

    </article>
  {% endfor %}
</section>
