<section class="Bookshelf">
  {% for book in bookslist | reverse %}
    <article{% if book.url == url %} data-current="current item"{% endif %}>

      <figure class="Bookshelf-cover">
        <img
          src="{{book.data.cover}}"
          alt=""
          class="Bookshelf-art"
        >
      </figure>

      <h4>
        {% if book.data.title %}
          {{ book.data.title }}
        {% else %}
          Untitled
        {% endif %}
      </h4>

      {% if book.data.author %}
        <p>{{book.data.author}} </p>
      {% endif %}

      {% if book.data.summary %}
        <p>
          {{ book.data.summary }}
        </p>
      {% endif %}

      {% if book.data.tags %}
        <p>
          {% for tag in book.data.tags %}
            {%- if tag != "book" -%}
              <small>{{ tag }}</small>
            {%- endif -%}
          {% endfor %}
        </p>
      {% endif %}

    </article>
  {% endfor %}
</section>
