<footer class="FooterCard u-spaceTop6 u-padEnds2">
  <div class="Container">
    <div>
      <h4 class="">Derek Shirk</h4>
      {% include "compositions/showcase-social-media.njk" %}
    </div>
    <div class="FooterMeta">
      <p class="u-textShrink2">
        The personal site of Derek Shirk © <script type="text/javascript">document.write(new Date().getFullYear());</script>. Check out the <a href="{{ pkg.repository.url }}">Github repo</a>.
      </p>
    </div>
    <div>
      {% include "patterns/theme-switcher.njk" %}
    </div>
  </div>
</footer>
