<footer>

  <div class="Grid Grid--footer">


    <div class="FooterMeta">
      <p>
        The personal site of Derek Shirk. Check out the <a href="{{ pkg.repository.url }}">Github repo</a>.
      </p>
    </div>

    {# Theme Switcher #}
    {% include "patterns/theme-switcher.njk" %}

  </div>

</footer>
