<footer>
  <small>
    This is the personal site of Derek Shirk.Check out the <a href="{{ pkg.repository.url }}">Github repo</a>.
  </small>

  {# Theme Switcher #}

  <ul>
    <li>
      <button
        class="u-bgPurple u-textWhite js-theme-switcher"
        data-bg-color="var(--color-purple)"
        data-color="var(--color-white)"
      >
        Purple
      </button>
    </li>
    <li>
      <button
        class="u-bgBlue u-textBlack js-theme-switcher"
        data-bg-color="var(--color-blue)"
        data-color="var(--color-black)"
      >
        Blue
      </button>
    </li>
    <li>
      <button
        class="u-bgMint js-theme-switcher"
        data-bg-color="var(--color-mint)"
        data-color="var(--color-black)"
      >
        Mint
      </button>
    </li>
    <li>
      <button
        class="u-bgBlack u-textWhite js-theme-switcher"
        data-bg-color="var(--color-black)"
        data-color="var(--color-white)"
      >
        Black
      </button>
    </li>
  <ul>

  {# Sample Social Data #}
  {# {{ social.github.url }}
  {{ social.codepen.url }}
  {{ social.twitter.url }}
  {{ social.instagram.url }} #}
</footer>
