<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link id="favicon" rel="icon" type="image/svg" href="/static/img/favicon.svg" />
  <title>{{ title or renderData.title or metadata.title }}</title>
  <link rel="preload" href="/static/fonts/inter/Inter-roman.var.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prerender" href="https://derekshirk.com/works" />
  <link rel="stylesheet" href="/css/style.css">
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
