<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {# TODO
     Replace png favicon with svg favicon
     See: https://css-tricks.com/svg-favicons-and-all-the-fun-things-we-can-do-with-them/
   #}
  <link id="favicon" rel="icon" type="image/png" href="/static/img/favicon-purple.png" />
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
