/**
 * @Define utilities
 */

/**
 * Background Color
 */

.u-bgPurple {
  background-color: var(--color-purple) !important;
}

.u-bgDarkPurple {
  background-color: var(--color-dark-purple) !important;
}

.u-bgDarkPurpleAlt {
  background-color: var(--color-dark-purple-alt) !important;
}

.u-bgGrape {
  background-color: var(--color-dark-grape) !important;
}

.u-bgPink {
  background-color: var(--color-pink) !important;
}

.u-bgGreen {
  background-color: var(--color-green) !important;
}

.u-bgBlue {
  background-color: var(--color-blue) !important;
}

.u-bgMint {
  background-color: var(--color-mint) !important;
}

.u-bgBlack {
  background-color: var(--color-black) !important;
}

.u-bgWhite {
  background-color: var(--color-white) !important;
}

/**
 * Background Fancy
 * TODO
 * 1. [DELETE] these `u-bgFancy` classes are not being used
 *    as of 08.28.2020
 */

 .u-bgFancy {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.u-bgFancy--topography {
  background-image: url('/static/img/pattern-topography.svg');
}

.u-bgFancy--triangles {
  background-image: url('/static/img/pattern-falling-triangles.svg');
}

.u-bgFancy--tic-tac-toe {
  background-image: url('/static/img/pattern-tic-tac-toe.svg');
}

.u-bgFancy--wiggle {
  background-image: url('/static/img/pattern-wiggle.svg');
}

.u-bgFancy--bank-note {
  background-image: url('/static/img/pattern-bank-note.svg');
}

.u-bgFancy--wavy-line {
  background-image: url('/static/img/wavy-line.svg');
}

.u-bgFancy--hippo {
  background-image: url(/static/img/hippo.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32vh;
}

@media (--lg-viewport) {
  .u-bgFancy--hippo {
    height: 34vh;
  }
}
