---
layout: layouts/base.njk
section: about
---

<section>
  <div class="Container ContentProse">
    <div class="Grid Grid-about">
      <div class='u-padRight6'>
        <h1>{{ title }}</h1>
        {{ layoutContent | safe }}
        <h4>Places to find me</h4>
        <ul>
          {% for item in social.sites %}
          <li>
            <a href="{{ item.url }}">
              {{ item.name | capitalize }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <img src="/static/img/derek-shirk-silhouette.png" alt="">
        {# <img src="/static/img/derek-shirk-headshot.jpg" alt=""> #}
        {# <img src="https://lh3.googleusercontent.com/HELE30PVMv600-bLwskoF1aQbUx66_cZMVZafGsbzEzp3hcCXLc67efw_HzfMPRru0k_bu4pr4mbSzHprQuGdYWksis1O3RseZp5hW6FoU8rQPstuBTwSXZihq6EnK28IaXJs31rbI32LbRgqdIVeevFkv9cUdK7gbSDxF4Qmbnlzwbr_aNXuhhldCkYf17Lpc_Szn8YUBOZfyax_8ddI1zBe_wLAkIlvlRNo13md_jw2MI-D3aDAVPsF-DRriYNq4SmLnTgS-MmdzCzKE6UJIzF5b2qoZ7VPEMmepDYnnKmZJ4XTZac49DmSxwng4lbenDyoJsOrnVagF1wbBrUsj0Ir8U3ppp0GR4z_TDjjN5Cc__A3u9mIvYn984o6_1tY3OfOMgFqR2-qOhO-zUbaJe5xDX-y27oa-QLQIcKPVmyP1uPQAv09BmNMv48oeH_75yCwmURcqSwsx1qGnv9KBcN0394DmjWVdnDqAmeCCa--CGp0tbd-rWMiOoBk6FFqPvZtzxi7Cl6ePsmGrnYlKtXF7IuZxlL11K6GrJhxFMY8EyUe-o3IZW5vTX-sKP7qZARqi2_Fu6tJylmIt7xseK7phcvU-RD96JJke3ScxJUxXtZ93SoUAVIZfSWMk5V6LSIPzBQTA7fQR2MVshhXcfUkIgsZATO=w4030-h2686-no" alt=""> #}
        {# <img src="https://lh3.googleusercontent.com/UAqDN3wYfz3XOTRKT4WJj41lZZKwH7Kaxx7cCvsneMXzSEC1W_2qhCFYtACr53ZvfYeNU541Ny_B-R1gndypGp0fgAWYnkMWh-Ed3RAJhfg_U8txNpo69q4lj1AjFxunDI5nMxVnfoWUCxm-chBGifLHYzH8EgKsxRWKYmUsHQBjDMnAVJNHg0hEYCYAaMC4TRHejtN4vqPo_smivs78opZr36eJCMNoS4aYGI4QcSbIHSFvrBbFYJD9VUHGkCdFRdaipTaEYKbwpi9IrGviBp5LRJJ1B0HLqHBXzoZZsSRKOEOUmKnue_NNvMTK-pHn47dvkQz2DnvnxLk9NymDwFcAYgvYrtCbnZlOqatEJQaVkqmdszX2ied6N3-cyRDi0C1e4Fua5gpXGAFukLSPaIcybrkh3RhEjRKVwhx0kuuq1F1VVKhRr29TPzyJxrjrAZwd3tdcTsde_jFnBJGwWMudaVKyPjql1PbUXuLRvrpwAg8kIxHSwYIjMCDbdh-in8Ms6lQU134Hi6d1E9N9DQRjLLL7_2_35uKPNQjz99A3zOfxDR2G8uomaMj1W8d2ySnmWhHfYWUunSx36doqLWH0NSQBaqELOpPfas1zGBa6rMVh5mrs3Ic6fB84pX2UsjWBQ7Hi5xnVVo2v2QzNvo_gqgixt9hA=w4030-h2686-no" alt=""> #}
        {# <img src="https://lh3.googleusercontent.com/M_nkUOta1JPzhcTvOOzgYQICHNTLS0J9KPYpQq0sOW971N90c_nUdRq2D6ilwaBcj0OXPp7OKOs4H5wBhKeE3NDXNPujcwbAC6AEabRvDdIPQE_xHLqpp313RawYRkEEQvQxY7NxsNNDxsTs_uXvkwqxh5D3LViwa9HC-CRu-76fmdTPdN-IecUbdLQRd2WoRYBzvYIU_ifLm_q1uu5591bzl4TCihdWqR9ShEC-CCsofic-PLsThCs3XYd-30MedkuAkB4zp1er_w11i5gQWauKmQg9a_F74FlVlk_W1D1nv_zDWlW9r2xGNI12CMngDXDnGwhizPKWIpAKhm9lNG54RprnBP5v2Zt7qazKO6lDcpPj59ZLbTo-Mof4fiHccO6TsijQy8jvWlpOrjY9BlQce3e1qvE380fW6wApzq82mXWR6GuR-uAnwT5Hp48rvfZKBOo6SteT61oFqXdXOZ4OPKe7QU39ErXCWTMkksewywRCjTGWx7WxbRAyOdNUjVYuakzbMp5xAa99MX8xdHSNZwstANWWe_GJEwxlsgNYE7QdbNVaBLsv--bmrpbMCVuDP5n8mPGaualaK4YRFN4Uhq2tV6aY9HuZID7DqCt9QICMnMW5TUMNYBxMmFK4tfSuRv6JFs0myfE8EGEY3NpC6HfDNQ=w800-h532-no" alt=""> #}

      </div>
    </div>
  </div>
</section>
