<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body {% if class %} class="{{ class }}"{% endif %}>
    <div class="content">
      <header class="Header">
        <a class="u-flex" href="{{ '/' | url }}">
         {% include "svg/logo.svg" %}
        </a>
        {% include "components/nav.njk" %}
      </header>
      <main id="main-content">
        {{ layoutContent | safe }}
      </main>
    </div>
    {% include "components/footer.njk" %}
  </body>
</html>
