---
layout: layouts/base.njk
section: bookshelf
class: Bookshelf
permalink: /bookshelf/index.html
subtitle: "A non-exhaustive list of books I've read."
---

{% set customClass = "bgFancy--wiggle" %}
{% include 'components/page-topper.njk' %}

<section class="Container u-padTop2">
  {% set bookslist = collections.books %}
  {% include "components/bookshelf.njk" %}
</section>
