---
layout: layouts/base.njk
class: home
section: home
---

<section class="ContentHome">
  <article class="Container ContentProse u-padTop02">

    <div class="Grid Grid--home">

      <div class="u-hidden u-lg-block">
        <img src="/static/img/profile-artsy-2.png" alt="">
        <ul class="u-textSize1 u-padLeft6">
          {% for item in social.sites %}
          <li class="u-padLeft06 u-lineHeight2">
            <a class="u-textBlue" href="{{ item.url }}">
              {{ item.name | capitalize }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="u-md-padTop">

        <div class="u-md-padTop">
          <h1>Hi. I'm {{ title }},</h1>
          <span class="Callout u-textSize2 u-md-textSize3">
            {{ layoutContent | safe }}
          </span>
          {# <img src="/static/img/derek-shirk-silhouette.png" alt=""> #}
        </div>
        <div class="HomePosts u-padTop4">
          <h4 class="u-textSize3 u-spaceBottom">
            Latest Articles
          </h4>
          {% set postslist = collections.latest %}
          {% include "components/postslist.njk" %}
        </div>

      </div>

    </div>

  </article>
</section>
