---
layout: layouts/base.njk
section: post
---

{% include 'compositions/hero-writing.njk' %}

<article class="Container ContainerProse u-padTop1 u-md-padTop3 u-spaceItems u-textSize1">

  <header class="u-lg-padTop6">
    <h4 class="Banner-label">{{ page.date | readableDate }}</h4>
    <h1 class="u-textSize4 u-md-textSize6">{{ title }}</h1>
  </header>

  {{ layoutContent | safe }}

  {% if link %}
    <div class="u-flex">
      <span class="u-spaceRight03">
        {% include "svg/icon-link-alt.svg" %}
      </span>
      <a href="{{link}}">Read article</a>
    </div>
  {% endif %}

  {# {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %} #}

  {# <nav>
    <a href="{{ '/writes/' | url }}">← Post index</a>
  </nav> #}

</article>
