---
layout: layouts/base.njk
section: post
---

{% include 'components/page-topper.njk' %}

<div class="Container ContainerProse u-padTop02">

  <article>

    {{ layoutContent | safe }}

    {% if tags %}
      <p>
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}

  </article>

  <nav>
    <a href="{{ '/blog/' | url }}">← Post index</a>
  </nav>

</div>
