---
layout: layouts/base.njk
section: projects
permalink: /projects/index.html
subtitle: "Some projects that I've had the pleasure to work on"
---

<!--
  @TODO
  1. Improve responsive images markup
  2. Set up JSON data loops
  3. Improve accessability wherever possible — one step at a time
  4. Should images get wrapped in figure elements?
  4. ...
 -->

<div class="Container">

  <section class="Grid-wrapper u-lg-pad2">

    <header
      class="Banner-projects grid-whole@xs grid-whole@s       
             grid-half@m grid-half@l grid-half@xl
             u-lg-padEnds6 u-flex u-flexWrap u-flexAlignContentBetween"
    >
      <div class="Banner">
        <h1 class="Banner-label">
          Abridged work
        </h1>
        <h2 class="Banner-title">
          Selected projects spanning multiple disciplines
        </h2>
        <div
          class="Banner-subtitle u-spaceTop">
          {{ layoutContent | safe }}
        </div>
      </div>
    </header>

    <!-- This could be loop One -->
    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl
               u-padTop u-lg-padEnds6 u-padRight2"
      >
        <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">Decathlon: UI design and prototyping</h3>
        <p class="Label">Cloud Four</p>
        <p class="u-lg-textSize1 u-textSize">
          Prototyping and front-end design of new user interfaces and components for Decathlon's existing (Shopify) ecommerce site.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl
               u-padTop u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <img src="/static/img/project-decathlon-02.jpg" alt="The Diff logo">
        </figure>
      </div>

    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl
               u-padTop u-lg-padEnds6 u-padRight2"
      >
        <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">
         Design system work
        </h3>
        <p class="Label">Cloud Four</p>
        <p class="u-lg-textSize1 u-textSize">
          I've helped develop multiple design systems for clients, desinging new and contributing to existing systems.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl
               u-padTop u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <img
            src="/static/img/project-decathlon-01.jpg"
            alt=""
          />
        </figure>
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl
               u-padTop u-lg-padEnds6 u-padRight2"
      >
        <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">Walmart: visual design & strategic consulting</h3>
        <p class="Label">Cloud Four</p>
        <p class="u-lg-textSize1 u-textSize">
          Assisted the Walmart Services team navigate a strategic redesign via stakeholder interviews, sitemaps, wireframes, and visual design explorations.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l
               grid-half@xl u-padTop u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          {# <picture>
            <source sizes="(max-width: 667px) 100vw, 667px" srcset="
            ../img/lovelust_tee,w_200.webp 200w,
            ../img/lovelust_tee,w_667.webp 667w" type="image/webp">

            <source sizes="(max-width: 648px) 100vw, 648px" srcset="
            ../img/lovelust_tee,w_200.jpg 200w,
            ../img/lovelust_tee,w_390.jpg 390w,
            ../img/lovelust_tee,w_534.jpg 534w,
            ../img/lovelust_tee,w_648.jpg 648w">
            <img
              src="/static/img/project-walmart-01.jpg"
              alt=""
            />
        </picture> #}
        <img src="/static/img/project-walmart-01.jpg" alt="" />
        </figure>
      </div>
    </article>
    <!-- End Loop One -->

    <!-- Featured/Unique Layout -->
    <!-- The Butcher's Brother -->
    <article
      class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l Grid-wrapper"
    >

      <div class="grid-whole@xs grid-whole@s grid-twothirds@m grid-twothirds@l grid-twothirds@xl Grid-wrapper u-padTop u-lg-padEnds6">

        <div
          class="span-row-two@s span-row-two@m span-row-two@l span-row-two@xl grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-objectFitCover"
        >
          <img src="/static/img/project-butchers-brother-01.jpg" alt="" />
        </div>

        <div class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl align-self-center u-objectFitCover">
          {# TODO: replace img src with local file #}
          <img src="/static/img/project-butchers-brother-02.jpg" alt="" />
        </div>


        <div
          class="grid-whole@xs grid-quarter@s grid-quarter@m grid-quarter@l
                 grid-quarter@xl u-objectFitCover"
        >
          <img src="/static/img/project-butchers-brother-03.jpg" alt=""/>
        </div>

        <div
          class="grid-whole@xs
                 grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl u-objectFitCover"
        >
          <figure>
            <img src="/static/img/project-butchers-brother-04.jpg" alt="" />
          </figure>
        </div>

      </div>

      <div
        class="grid-whole@xs grid-whole@s grid-third@m grid-third@l grid-third@xl
               u-padTop u-lg-padEnds6 u-flexOrderFirst u-md-flexOrderLast"
      >
          <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">
            Whole Foods: environmental retail design, identity and art direction
          </h3>
          <div class="u-spaceItems">
            <p class="Label">Brewhouse</p>
            <p class="u-lg-textSize1 u-textSize">
              A unique project for Whole Foods that required both identity and environmental design inside one of their most popular Portland locations.
            </p>
            <a href="https://goo.gl/maps/CJbJVoJYwXZtJ7qK7" class="u-block" rel="nofollow">
              Visit the Bridgeport Village Whole Foods
            </a>
          </div>
      </div>
    </article>

    
    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">
          Negroni Week: charity site and event hub
        </h3>
        <p class="Label">OVO</p>
        <p class="u-lg-textSize1 u-textSize">
          Multilingual event site and interative venue directory for over 6,000 locations, with front-end editing capabilities for venue owners.
        </p>
      </div>
      <div
        class="span-row-two grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6 u-objectFitCover"
      >
        <img src="/static/img/project-negroni-week.jpg" alt="">
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m  
             grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">
          CCLI: WordPress Multisite development
        </h3>
        <p class="Label">OVO</p>
        <p class="u-lg-textSize1 u-textSize">
          Provided technical guidance and front-end development for a highly customized and full-featured WordPress Multisite environment. 
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l 
               grid-half@xl u-padTop u-lg-padEnds6 u-objectFitCover"
      >
        <img src="/static/img/project-ccli.jpg" alt="">
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">
          Downtown Oregon City: rebranding a historic city
        </h3>
        <p class="Label">Brewhouse</p>
        <p class="u-lg-textSize1 u-textSize">
          Identity design and marketing collateral for the Downtown Oregon City Association - highlighting a city with a rich history of pioneering spirit, grit and natural beauty.
        </p>
      </div>
      <div
        class="span-row-two grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6 u-objectFitCover"
      >
        <img src="/static/img/project-downtown-oregon-city.jpg" alt="">
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m  
             grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">The Janey: art direction and design</h3>
        <p class="Label">Brewhouse</p>
        <p class="u-lg-textSize1 u-textSize">
           Art direction of wordmark, marketing collateral and website for a 50-unit luxury apartment complex in the heart of downtown Portland's Pearl District.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l 
               grid-half@xl u-padTop u-lg-padEnds6 u-objectFitCover"
      >
        <img src="/static/img/project-the-janey.jpg" alt="">
      </div>
    </article>

    <article
      class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l Grid-wrapper"
    >

    <div
        class="grid-whole@xs grid-whole@s grid-third@m grid-third@l
               grid-third@xl
               u-padTop u-lg-padEnds6"
      >
          <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">
            Whole Foods: The Juicery indentity and environment
          </h3>
          <div class="u-spaceItems">
            <p class="Label">Brewhouse</p>
            <p class="u-lg-textSize1 u-textSize">
              Art direction for a fresh new visual identity and retail environment for a organic juice bar shop-in-shop.
            </p>
            <a href="https://goo.gl/maps/CJbJVoJYwXZtJ7qK7" class="u-block" rel="nofollow">
              Visit the Bridgeport Village Whole Foods
            </a>
          </div>
      </div>

      <div class="grid-whole@xs grid-whole@s grid-twothirds@m grid-twothirds@l grid-twothirds@xl Grid-wrapper u-padTop u-lg-padEnds6">

        <div
          class="span-row-two@s span-row-two@m span-row-two@l span-row-two@xl grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-objectFitCover"
        >
          <img src="/static/img/project-the-juicery-01.jpg" alt="" />
        </div>

        <div class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl align-self-center">
          <img src="/static/img/project-the-juicery-02.jpg" alt="" />
        </div>

        <div
          class="grid-whole@xs grid-quarter@s grid-quarter@m grid-quarter@l
                 grid-quarter@xl u-objectFitCover"
        >
          <img src="/static/img/project-the-juicery-03.jpg" alt=""/>
        </div>

        <div
          class="span-row-two@m span-row-two@l span-row-two@xl grid-whole@xs
                 grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl u-objectFitCover"
        >
          <img src="/static/img/project-the-juicery-04.jpg" alt="" />
        </div>

      </div>
    </article>
  </section>

  <section class="Grid-wrapper grid-whole@xs grid-whole@s grid-whole@m grid-whole@l u-lg-pad2">

    <header class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl u-flex">
      <h2 class="u-textGrow4">CodePens</h2>
    </header>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://codepen.io/derekshirk/pen/dNLeZj">
          <img src="/static/img/projects-codepen-01.jpg" alt="">
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">Scaled hover experiments</h3>
        <a href="https://codepen.io/derekshirk/pen/dNLeZj">View pen</a>
      </div>
    </article>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://codepen.io/derekshirk/pen/bqdzzj">
          <img src="/static/img/projects-codepen-02.jpg" alt="">
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">Color picker UI</h3>
        <a href="https://codepen.io/derekshirk/pen/bqdzzj">View pen</a>
      </div>
    </article>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://codepen.io/derekshirk/pen/vrEbpO">
          <img src="/static/img/projects-codepen-03.jpg" alt="">
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">Theming with CSS custom properties</h3>
        <a href="https://codepen.io/derekshirk/pen/vrEbpO">View pen</a>
      </div>
    </article>

  </section>

  <section class="Grid-wrapper grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl u-theme-accentSecondary u-pad2 u-spaceTop6">

    <header class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl">
      <h2 class="u-textGrow4">Open Source Contributions</h2>
    </header>

    <div
        class="grid-whole@xs grid-whole@s grid-third@m grid-third@l grid-third@xl
              u-padTop u-lg-padEnds6"
      >
      <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">PWA Stats</h3>
      <div class="u-spaceItems">
        <p class="Label">Cloud Four</p>
        <p class="u-lg-textSize1 u-textSize">
          A community-driven list of stats and news related to Progressive Web Apps brought to you by Cloud Four
        </p>
        <a class="u-block" href="">pwastats.com</a>
      </div>
    </div>

    <div
      class="grid-whole@xs grid-whole@s grid-third@m grid-third@l grid-third@xl
              u-padTop u-lg-padEnds6"
    >
      <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">Cloud Four Guides</h3>
      <div class="u-spaceItems">
        <p class="Label">Cloud Four</p>
        <p class="u-lg-textSize1 u-textSize">
          Cloud Four's collection of and evolving best practices for writing CSS. I've helped review CSS Guide related pull requests.
        </p>
        <a class="u-block" href="https://github.com/cloudfour/guides/tree/master/css">View on GitHub</a>
      </div>
    </div>

    <div
      class="grid-whole@xs grid-whole@s grid-third@m grid-third@l grid-third@xl
              u-padTop u-lg-padEnds6"
    >
      <h3 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-lg-textGrow3">Drizzle</h3>
      <div class="u-spaceItems">
        <p class="Label">Cloud Four</p>
        <p class="u-lg-textSize1 u-textSize">
          Drizzle an open source tool developed by Cloud Four for generating design systems and style guides that helps make prototyping and pattern-building fast and fun.
        </p>
        <a class="u-block" href="https://github.com/cloudfour/drizzle">View on GitHub</a>
      </div>
    </div>
  </section>

</div>
