---
layout: layouts/base.njk
section: projects
permalink: /works/index.html
subtitle: "Some projects that I've had the pleasure to work on"
---

<!--
  @TODO
  1. Improve responsive images markup
  2. Set up JSON data loops
  3. Improve accessability wherever possible — one step at a time
 -->

<div class="Container">

  <section class="Grid-wrapper">

    <header
      class="Banner Banner--offset grid-whole@xs grid-whole@s       
             grid-half@m grid-half@l grid-half@xl
             u-lg-padEnds6 u-flex u-flexWrap u-flexAlignContentBetween u-pad2"
    >
      <div class="Banner-content">
        <h4 class="Banner-label">
          Abridged work
        </h4>
        <h2 class="Banner-title">
          Selected projects spanning multiple disciplines
        </h2>
        <div
          class="Banner-subtitle u-spaceTop">
          {{ layoutContent | safe }}
        </div>
      </div>
    </header>

    <!-- This could be loop One -->
    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6 u-padRight2"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          Decathlon: UI design and prototyping
        </h3>
        <p class="Label">Cloud Four</p>
        <p class="u-textSize u-xl-textSize1">
          Prototyping and front-end design of new user interfaces and components for Decathlon's existing ecommerce site.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl  u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <img
            alt="Decathlon ecomerce product page"
            src="/static/img/projects/decathlon-01-320x383.jpg"
            sizes="(min-width: 320) 280px,
                   (min-width: 375) 335px,
                   (min-width: 414) 374px,
                   (min-width: 540) 500px,
                   (min-width: 768) 356px,
                   (min-width: 1024) 231px,
                   (min-width: 1366) 300px,
                   (min-width: 1440) 316px,
                   (min-width: 2000) 448px,
                   (min-width: 2500) 566px"
            srcset="/static/img/projects/decathlon-01-320x383.jpg 320w,
                    /static/img/projects/decathlon-01-375x448.jpg 375w, 
                    /static/img/projects/decathlon-01-500x598.jpg 500w,
                    /static/img/projects/decathlon-01-575x687.jpg 575w,
                    /static/img/projects/decathlon-01-750x897.jpg 750w,
                    /static/img/projects/decathlon-01-900x1076.jpg 900w"
          >
        </figure>
      </div>

    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl
               u-padTop u-lg-padEnds6 u-padRight2"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
         Design system work
        </h3>
        <p class="Label">Cloud Four</p>
        <p class="u-textSize u-xl-textSize1">
          I've helped develop multiple design systems for clients, both designing new and contributing to existing systems.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <img
            alt="Example of design system web components"
            src="/static/img/projects/decathlon-02-320x335.jpg"
            sizes="(min-width: 320) 280px,
                   (min-width: 375) 335px,
                   (min-width: 414) 374px,
                   (min-width: 540) 500px,
                   (min-width: 768) 356px,
                   (min-width: 1024) 231px,
                   (min-width: 1366) 300px,
                   (min-width: 1440) 316px,
                   (min-width: 2000) 448px,
                   (min-width: 2500) 566px"
            srcset="/static/img/projects/decathlon-02-320x335.jpg 320w,
                    /static/img/projects/decathlon-02-375x449.jpg 375w, 
                    /static/img/projects/decathlon-02-500x598.jpg 500w,
                    /static/img/projects/decathlon-02-575x688.jpg 575w,
                    /static/img/projects/decathlon-02-750x897.jpg 750w,
                    /static/img/projects/decathlon-02-900x1076.jpg 900w"
          >
        </figure>
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6 u-padRight2"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          Walmart: visual design & strategic consulting
        </h3>
        <p class="Label">Cloud Four</p>
        <p class="u-textSize u-xl-textSize1">
          Assisted the Walmart Services team with a strategic redesign via stakeholder interviews, sitemaps, wireframes, and visual design explorations.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l
               grid-half@xl u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <img
            alt="Walmart Services design mockup"
            src="/static/img/projects/walmart-320x335.jpg"
            sizes="(min-width: 320) 280px,
                   (min-width: 375) 335px,
                   (min-width: 414) 374px,
                   (min-width: 540) 500px,
                   (min-width: 768) 356px,
                   (min-width: 1024) 231px,
                   (min-width: 1366) 300px,
                   (min-width: 1440) 316px,
                   (min-width: 2000) 448px,
                   (min-width: 2500) 566px"
            srcset="/static/img/projects/walmart-320x383.jpg 320w,
                    /static/img/projects/walmart-375x448.jpg 375w, 
                    /static/img/projects/walmart-500x598.jpg 500w,
                    /static/img/projects/walmart-575x687.jpg 575w,
                    /static/img/projects/walmart-750x897.jpg 750w,
                    /static/img/projects/walmart-900x1076.jpg 900w"
          >
        </figure>
      </div>
    </article>

    <!-- Featured: The Butcher's Brother -->
    <article
      class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l Grid-wrapper"
    >

      <div class="grid-whole@xs grid-whole@s grid-twothirds@m grid-twothirds@l grid-twothirds@xl Grid-wrapper u-lg-padEnds6">

        <div
          class="span-row-two@s span-row-two@m span-row-two@l span-row-two@xl grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-objectFitCover"
        >
          <figure>
            <img 
              src="/static/img/project-butchers-brother-01.jpg"
              alt=""
            >
          </figure>
        </div>

        <div class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-objectFitCover">
          <figure>
            <img 
              src="/static/img/project-butchers-brother-02.jpg"
              alt=""
            >
          </figure>
        </div>


        <div
          class="grid-whole@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl u-objectFitCover"
        >
          <figure>
            <img 
              src="/static/img/project-butchers-brother-03.jpg"
              alt=""
            >
          </figure>
        </div>

        <div
          class="grid-whole@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl u-objectFitCover"
        >
          <figure>
            <img
              src="/static/img/project-butchers-brother-04.jpg"
              alt=""
            >
          </figure>
        </div>

      </div>

      <div
        class="grid-whole@xs grid-whole@s grid-third@m grid-third@l grid-third@xl u-padTop u-lg-padEnds6 u-flexOrderFirst u-lg-flexOrderLast"
      >
          <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
            Whole Foods: environmental retail design, identity and art direction
          </h3>
          <div class="u-spaceItems">
            <p class="Label">Brewhouse</p>
            <p class="u-textSize u-xl-textSize1">
              A unique project for Whole Foods that required both identity and environmental design inside one of their most popular Portland locations.
            </p>
          </div>
      </div>
    </article>

    
    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          Negroni Week: event site and venue management system
        </h3>
        <p class="Label">OVO</p>
        <p class="u-textSize u-xl-textSize1">
          Provided technical guidance and front-end development for an interative venue directory with over 6,000 locations, and a venue management system for venue owners that offered front-end editing capabilities.
        </p>
      </div>
      <div
        class="span-row-two grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <img
            alt="Negroni Week website design mockups"
            src="/static/img/projects/negroni-week-320x335.jpg"
            loading="lazy"
            sizes="(min-width: 320) 280px,
                   (min-width: 375) 335px,
                   (min-width: 414) 374px,
                   (min-width: 540) 500px,
                   (min-width: 768) 356px,
                   (min-width: 1024) 231px,
                   (min-width: 1366) 300px,
                   (min-width: 1440) 316px,
                   (min-width: 2000) 448px,
                   (min-width: 2500) 566px"
            srcset="/static/img/projects/negroni-week-320x383.jpg 320w,
                    /static/img/projects/negroni-week-375x448.jpg 375w, 
                    /static/img/projects/negroni-week-500x598.jpg 500w,
                    /static/img/projects/negroni-week-575x688.jpg 575w,
                    /static/img/projects/negroni-week-750x897.jpg 750w,
                    /static/img/projects/negroni-week-900x1076.jpg 900w"
          >
        </figure>
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m  
             grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          CCLI: WordPress Multisite development
        </h3>
        <p class="Label">OVO</p>
        <p class="u-textSize u-xl-textSize1">
          Provided technical guidance and front-end development for a highly customized and full-featured WordPress Multisite environment. 
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl  u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
           <img
            alt="CCLI website design mockups"
            src="/static/img/projects/ccli-320x335.jpg"
            loading="lazy"
            sizes="(min-width: 320) 280px,
                   (min-width: 375) 335px,
                   (min-width: 414) 374px,
                   (min-width: 540) 500px,
                   (min-width: 768) 356px,
                   (min-width: 1024) 231px,
                   (min-width: 1366) 300px,
                   (min-width: 1440) 316px,
                   (min-width: 2000) 448px,
                   (min-width: 2500) 566px"
            srcset="/static/img/projects/ccli-320x383.jpg 320w,
                    /static/img/projects/ccli-375x448.jpg 375w, 
                    /static/img/projects/ccli-500x598.jpg 500w,
                    /static/img/projects/ccli-575x688.jpg 575w,
                    /static/img/projects/ccli-750x897.jpg 750w,
                    /static/img/projects/ccli-900x1076.jpg 900w"
          >
        </figure>
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          Downtown Oregon City: rebranding a historic city
        </h3>
        <p class="Label">Brewhouse</p>
        <p class="u-textSize u-xl-textSize1">
          Identity design and marketing collateral for the Downtown Oregon City Association - highlighting a city with a rich history of pioneering spirit, grit and natural beauty.
        </p>
      </div>
      <div
        class="span-row-two grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <img
            alt="Downtown Oregon City Association logo on flag posts"
            src="/static/img/projects/oregon-city-320x335.jpg"
            loading="lazy"
            sizes="(min-width: 320) 280px,
                   (min-width: 375) 335px,
                   (min-width: 414) 374px,
                   (min-width: 540) 500px,
                   (min-width: 768) 356px,
                   (min-width: 1024) 231px,
                   (min-width: 1366) 300px,
                   (min-width: 1440) 316px,
                   (min-width: 2000) 448px,
                   (min-width: 2500) 566px"
            srcset="/static/img/projects/oregon-city-320x383.jpg 320w,
                    /static/img/projects/oregon-city-375x448.jpg 375w, 
                    /static/img/projects/oregon-city-500x598.jpg 500w,
                    /static/img/projects/oregon-city-575x688.jpg 575w,
                    /static/img/projects/oregon-city-750x897.jpg 750w,
                    /static/img/projects/oregon-city-900x1076.jpg 900w"
          >
        </figure>
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">The Janey: art direction and design</h3>
        <p class="Label">Brewhouse</p>
        <p class="u-textSize u-xl-textSize1">
           Art direction of wordmark, marketing collateral and website for a 50-unit luxury apartment complex in the heart of downtown Portland's Pearl District.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <img
            alt="The Janey appartments logo on building enterance"
            src="/static/img/projects/the-janey-320x335.jpg"
            loading="lazy"
            sizes="(min-width: 320) 280px,
                   (min-width: 375) 335px,
                   (min-width: 414) 374px,
                   (min-width: 540) 500px,
                   (min-width: 768) 356px,
                   (min-width: 1024) 231px,
                   (min-width: 1366) 300px,
                   (min-width: 1440) 316px,
                   (min-width: 2000) 448px,
                   (min-width: 2500) 566px"
            srcset="/static/img/projects/the-janey-320x383.jpg 320w,
                    /static/img/projects/the-janey-375x448.jpg 375w, 
                    /static/img/projects/the-janey-500x598.jpg 500w,
                    /static/img/projects/the-janey-575x688.jpg 575w,
                    /static/img/projects/the-janey-750x897.jpg 750w,
                    /static/img/projects/the-janey-900x1076.jpg 900w"
          >
        </figure>
      </div>
    </article>

    <article
      class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l Grid-wrapper"
    >

      <div
        class="grid-whole@xs grid-whole@s grid-third@m grid-third@l
               grid-third@xl u-padTop u-lg-padEnds6"
        >
          <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
            Whole Foods: The Juicery indentity and environment
          </h3>
          <div class="u-spaceItems">
            <p class="Label">Brewhouse</p>
            <p class="u-textSize u-xl-textSize1">
              Art direction for a fresh new visual identity and retail environment for a organic juice bar shop-in-shop.
            </p>
          </div>
      </div>

      <div class="grid-whole@xs grid-whole@s grid-twothirds@m grid-twothirds@l grid-twothirds@xl Grid-wrapper u-lg-padEnds6">

        <div
          class="span-row-two@s span-row-two@m span-row-two@l span-row-two@xl grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-objectFitCover"
        >
          <figure>
            <img
              src="/static/img/project-the-juicery-01.jpg"
              loading="lazy"
              alt="" 
            >
          </figure>
        </div>

        <div class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl align-self-center">
          <figure>
            <img
              src="/static/img/project-the-juicery-02.jpg"
              loading="lazy"
              alt=""
            >
          </figure>
        </div>

        <div
          class="grid-whole@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl u-objectFitCover"
        >
          <figure>
            <img
              src="/static/img/project-the-juicery-03.jpg"
              loading="lazy"
              alt=""
            >
          </figure>
        </div>

        <div
          class="grid-whole@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl u-objectFitCover"
        >
          <figure>
            <img
              src="/static/img/project-the-juicery-04.jpg"
              loading="lazy"
              alt="" 
            >
          </figure>
        </div>

      </div>
    </article>
  </section>

  <section class="Grid-wrapper grid-whole@xs grid-whole@s grid-whole@m grid-whole@l u-lg-pad2">

    <header class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl u-flex">
      <h2 class="u-textGrow3 u-xl-textGrow6">CodePens</h2>
    </header>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://codepen.io/derekshirk/pen/dNLeZj" class="u-borderNone">
          <figure>
            <img
              alt="Codepen thumbnail of Nike Airmax shoes experiment"
              src="/static/img/projects/codepen-01-400x400.jpg"
              loading="lazy"
              sizes="(min-width: 320) 280px,
                     (min-width: 375) 335px,
                     (min-width: 414) 374px,
                     (min-width: 540) 500px,
                     (min-width: 768) 356px,
                     (min-width: 1024) 231px,
                     (min-width: 1366) 300px,
                     (min-width: 1440) 316px,
                     (min-width: 2000) 448px,
                     (min-width: 2500) 566px"
              srcset="/static/img/projects/codepen-01-400x400.jpg 400w,
                      /static/img/projects/codepen-01-670x670.jpg 670w, 
                      /static/img/projects/codepen-01-1000x1000.jpg 1000w"
            >
          </figure>
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl u-flexOrderFirst u-lg-flexOrderLast u-spaceItems2">
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          Scaled hover experiments
        </h3>
      </div>
    </article>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://codepen.io/derekshirk/pen/bqdzzj" class="u-borderNone">
          <figure>
            <img
              alt="Codepen thumbnail of color picker experiment"
              src="/static/img/projects/codepen-02-400x400.jpg"
              loading="lazy"
              sizes="(min-width: 320) 280px,
                     (min-width: 375) 335px,
                     (min-width: 414) 374px,
                     (min-width: 540) 500px,
                     (min-width: 768) 356px,
                     (min-width: 1024) 231px,
                     (min-width: 1366) 300px,
                     (min-width: 1440) 316px,
                     (min-width: 2000) 448px,
                     (min-width: 2500) 566px"
              srcset="/static/img/projects/codepen-02-400x400.jpg 400w,
                      /static/img/projects/codepen-02-670x670.jpg 670w, 
                      /static/img/projects/codepen-02-1000x1000.jpg 1000w"
            >
          </figure>
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl u-flexOrderFirst u-lg-flexOrderLast u-spaceItems2">
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          Color picker UI
        </h3>
      </div>
    </article>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://codepen.io/derekshirk/pen/vrEbpO" class="u-borderNone">
          <figure>
            <img
              alt="Codepen thumbnail of CSS theming experiement"
              src="/static/img/projects/codepen-03-400x400.jpg"
              loading="lazy"
              sizes="(min-width: 320) 280px,
                     (min-width: 375) 335px,
                     (min-width: 414) 374px,
                     (min-width: 540) 500px,
                     (min-width: 768) 356px,
                     (min-width: 1024) 231px,
                     (min-width: 1366) 300px,
                     (min-width: 1440) 316px,
                     (min-width: 2000) 448px,
                     (min-width: 2500) 566px"
              srcset="/static/img/projects/codepen-03-400x400.jpg 400w,
                      /static/img/projects/codepen-03-670x670.jpg 670w, 
                      /static/img/projects/codepen-03-1000x1000.jpg 1000w"
            >
          </figure>
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl u-flexOrderFirst u-lg-flexOrderLast u-spaceItems2">
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">Theming with CSS custom properties</h3>
      </div>
    </article>

  </section>

  <section class="Grid-wrapper grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl u-theme-accentSecondary u-pad2 u-spaceTop6">

    <header class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl">
      <h2 class="u-textGrow3 u-xl-textGrow6">Open Source Contributions</h2>
    </header>

    <div
        class="grid-whole@xs grid-whole@s grid-third@m grid-third@l grid-third@xl u-padTop u-lg-padEnds6"
      >
      <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">PWA Stats</h3>
      <div class="u-spaceItems">
        <p class="Label">Cloud Four</p>
        <p class="u-textSize u-xl-textSize1">
          A community-driven list of stats and news related to Progressive Web Apps brought to you by Cloud Four
        </p>
        <p>
          <a href="">pwastats.com</a>
        </p>
      </div>
    </div>

    <div
      class="grid-whole@xs grid-whole@s grid-third@m grid-third@l grid-third@xl
              u-padTop u-lg-padEnds6"
    >
      <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">Cloud Four Guides</h3>
      <div class="u-spaceItems">
        <p class="Label">Cloud Four</p>
        <p class="u-textSize u-xl-textSize1">
          Cloud Four's collection of evolving best practices for writing CSS. I've helped review CSS Guide related pull requests.
        </p>
        <p>
          <a href="https://github.com/cloudfour/guides/tree/master/css">
            View on GitHub
          </a>
        </p>
      </div>
    </div>

    <div
      class="grid-whole@xs grid-whole@s grid-third@m grid-third@l grid-third@xl
              u-padTop u-lg-padEnds6"
    >
      <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">Drizzle</h3>
      <div class="u-spaceItems">
        <p class="Label">Cloud Four</p>
        <p class="u-textSize u-xl-textSize1">
          Drizzle an open source tool developed by Cloud Four for generating design systems and style guides that helps make prototyping and pattern-building fast and fun.
        </p>
        <p>
          <a href="https://github.com/cloudfour/drizzle">View on GitHub</a>
        </p>
      </div>
    </div>
  </section>

</div>
