---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
subtitle: "👋️ Welcome to my blog"
---

{% set class = "bgFancy--bank-note" %}
{% include 'components/page-topper.njk' %}

<div class="Container u-padTop02">

  <section class="Grid Grid--writing u-padTop6">
    <h4 class="ArticleSectionTitle">2019</h4>
    <div class="u-padRight2 u-spaceItems">
      {% set postslist = collections.posts %}
      {% include "components/postslist.njk" %}
    </div>
  </section>

  <section class="Grid Grid--writing u-padTop6">
      <h4 class="ArticleSectionTitle">2018</h4>
      <div class="u-padRight2 u-spaceItems">
        {% set postslist = collections.posts %}
        {% include "components/postslist.njk" %}
      </div>
    </section>

</div>
