---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---

<div class="PageTopper u-extendFull">
  <div class="PageTopper-label ContainerProse">
    <h1>{{ title }}</h1>
    <p class="Callout u-textSize2 u-md-textSize3">👋️ Welcome to my blog.</p>
  </div>
</div>

<div class="Container u-padTop02">

  <section class="Grid Grid--writing u-padTop6">
    <h4 class="ArticleSectionTitle">2019</h4>
    <div class="u-padRight2 u-spaceItems">
      {% set postslist = collections.posts %}
      {% include "components/postslist.njk" %}
    </div>
  </section>

  <section class="Grid Grid--writing u-padTop6">
      <h4 class="ArticleSectionTitle">2018</h4>
      <div class="u-padRight2 u-spaceItems">
        {% set postslist = collections.posts %}
        {% include "components/postslist.njk" %}
      </div>
    </section>

</div>
